
body{
    font-family: 'Amatic SC', cursive;
    /* background-color: #0bb2e0; */
    background-image: url(https://images8.alphacoders.com/548/thumb-1920-548142.jpg);
    /* background-image: url(LAPTOP-WALLPAPER-HD.jpg); */
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
   
}

.geekstermon {
    font-family: 'Amatic SC', cursive;
    /* Your existing styles */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 58px;
    color: #4CAF50; /* Dark gray color */
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    position: relative;
}

/* Create a unique underline effect */
.geekstermon::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 2px;
    background-color: #4A90E2;
    opacity: 0.5;
    transition: width 0.3s ease;
}

/* Hover effect for the underline */
.geekstermon:hover::after {
    width: 100%;
}

/* Glowing effect on hover */
@keyframes glowing {
    0% { color: #4CAF50; }
    30% { color: #c7d31f; } /* Change to any color you want for the glow */
    60% { color: #4CAF50; }
    90%{ color: #00ffff}
}

.geekstermon:hover {
    animation: glowing 1s infinite; /* Adjust the animation duration as needed */
}

#types, #input{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
 margin: 30px;
}
.select, .search{
 padding: 10px 20px;
         background-color: #f1f1f1;
         color: black;
         border: 1px solid;
         border-radius: 4px;
}
.pokemon-type{
    /* border: 2px solid; */
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;

}
.displayfrontCard p{
    color: #333;
    font-weight: 600;
}
button{
 /* display: block; */
         /* margin: 20px auto; */
         padding: 10px 20px;
         background-color: #4CAF50;
         color: white;
         border: none;
         border-radius: 4px;
         cursor: pointer;
}

     .pokemonDisplay {
         display: flex;
         justify-content: space-evenly;
         flex-wrap: wrap;
         gap: 50px;
        
     }

     .displayflip {
         perspective: 1000px;
         margin-top: 30px;
     }

     .displayCardInner {
         width: 200px;
         height: 350px; /* Increased height */
         position: relative;
         transform-style: preserve-3d;
         transition: transform 0.9s;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
         border-radius: 10px;
     }

     .displayflip:hover .displayCardInner {
         transform: rotateY(180deg);
     }
     .displayfrontCard{
        
     }

     .displayfrontCard,
     .displayBackFrontCard {
         width: 100%;
         height: 100%;
         position: absolute;
         backface-visibility: hidden;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .displayfrontCard {
         border: 1px solid #ddd;
         gap: 15px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }

     .displayBackFrontCard {
         transform: rotateY(180deg);
         border: 1px solid #ddd;
     }

     .displayfrontCard img {
         width: 120px;
         height: 120px;
     }

     .displayfrontCard h3,
     .displayfrontCard p,
     .displayBackFrontCard p {
         margin: 5px;
     }
     .stat {
         font-size: 14px;
     }
     .pokemon-id {
         width: 195px;
         align-items: baseline;
         background-color: #fff;
         text-align: center;
     }
     .load-more {
         display: block;
         margin: 20px auto;
         padding: 10px 20px;
         background-color: #4CAF50;
         color: white;
         border: none;
         border-radius: 4px;
         cursor: pointer;
     }
 